<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="node_modules/react/dist/react.js"></script>
  <script type="text/javascript" src="node_modules/react-dom/dist/react-dom.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <!-- <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script> -->
  <script type="text/babel" src="../index.jsx"></script>
</head>
<body>
  <div id="entry-point">
  </div>
</body>
</html>
