doctype html
html
  head
    title= title
    script(type='text/javascript', src="../node_modules/react/dist/react.js")
    script(type='text/javascript', src="../node_modules/react-dom/dist/react-dom.js")
    script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
    script(type='text/babel', src="../index.jsx")
    script(type="text/javascript" src="../node_modules/jquery/dist/jquery.js")
    link(rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
  body
    block content
